<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozha1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,446},{240,214}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,183},{240,214}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>baozha1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,446}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{476,446}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>baozha1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,452},{398,422}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{398,422}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>baozha1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{468,448}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{468,448}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>baozha1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{458,442}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,57},{458,442}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>baozha1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{504,418}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,81},{504,418}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
            <key>baozha1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,452},{356,432}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,51},{356,432}}</string>
                <key>sourceSize</key>
                <string>{550,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozha1.png</string>
            <key>size</key>
            <string>{1410,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8070a9c9aba33e907b31dc16b0a2f5be$</string>
            <key>textureFileName</key>
            <string>baozha1.png</string>
        </dict>
    </dict>
</plist>
