<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dy_fish13.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,798},{177,183}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,28},{177,183}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish14.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,567},{229,183}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{229,183}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish15.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,977},{201,191}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{201,191}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{213,221}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{213,221}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{209,197}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{209,197}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{219,175}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{219,175}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{253,179}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{253,179}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish20.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,822},{221,193}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{221,193}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish21.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1017},{205,211}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{205,211}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_fish24.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,827},{215,197}}</string>
                <key>offset</key>
                <string>{-28,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{215,197}}</string>
                <key>sourceSize</key>
                <string>{283,249}</string>
            </dict>
            <key>dy_zh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,301},{265,266}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{265,266}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>dy_zh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,289},{277,276}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{277,276}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>dy_zh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{285,286}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{285,286}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>dy_zh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{297,298}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{297,298}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>dy_zh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,304}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,304}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>dy_zh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{259,260}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{259,260}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>dy_zh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,568},{253,252}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{253,252}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>dy_zh8.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,567},{259,258}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{259,258}}</string>
                <key>sourceSize</key>
                <string>{309,304}</string>
            </dict>
            <key>sidai_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{103,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,49}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigfish.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8663cdbbb036176fec88a9154e128716:1/1$</string>
            <key>textureFileName</key>
            <string>bigfish.png</string>
        </dict>
    </dict>
</plist>
