<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bosscoming_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,940},{1130,170}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,189},{1130,170}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,940},{1130,170}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,189},{1130,170}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{1130,470}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{1130,470}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{1130,470}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{1130,470}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,474},{1130,466}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{1130,466}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,474},{1130,466}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{1130,466}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,2},{1130,458}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{1130,458}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,2},{1130,458}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{1130,458}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{1130,440}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{1130,440}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{1130,440}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{1130,440}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,462},{1130,300}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,119},{1130,300}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,462},{1130,300}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,119},{1130,300}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,764},{1130,174}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,186},{1130,174}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{3884,2},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3884,2},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3722,2},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3722,2},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{3560,2},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{3560,2},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,1112},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,1112},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,1112},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3398,2},{1060,160}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,187},{1060,160}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,764},{1130,174}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,186},{1130,174}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,942},{1130,456}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{1130,456}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,942},{1130,456}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{1130,456}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{1130,480}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{1130,480}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{1130,480}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{1130,480}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1130,480}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{1130,480}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
            <key>bosscoming_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1130,480}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{1130,480}}</string>
                <key>sourceSize</key>
                <string>{1136,502}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosscoming.png</string>
            <key>size</key>
            <string>{4046,1408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c14996fe5545dc2b01fa56a9de462d9b$</string>
            <key>textureFileName</key>
            <string>bosscoming.png</string>
        </dict>
    </dict>
</plist>
