<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>greenrayline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{831,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{831,120}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{831,122}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{831,122}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{827,126}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{827,126}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{831,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{831,122}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{831,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{831,114}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{831,114}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{831,114}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{829,108}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{829,108}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{829,116}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{829,116}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{829,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{829,120}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
            <key>greenrayline9.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,831},{829,114}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{829,114}}</string>
                <key>sourceSize</key>
                <string>{831,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>greenraylinepls.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf4704d37b91480be54aa512255075f4:1/1$</string>
            <key>textureFileName</key>
            <string>greenraylinepls.png</string>
        </dict>
    </dict>
</plist>
