<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jineng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{198,178}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{198,178}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,190},{196,180}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{196,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,190},{196,180}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{196,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,188},{192,178}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{192,178}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{196,176}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{196,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,190}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{198,190}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{186,198}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{186,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{184,198}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{184,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,182},{180,188}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{180,188}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>jineng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{184,176}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{184,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinengguangxiao.png</string>
            <key>size</key>
            <string>{980,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbb215820907c4ae2ace2db4ccdcbf42$</string>
            <key>textureFileName</key>
            <string>jinengguangxiao.png</string>
        </dict>
    </dict>
</plist>
