<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1guang0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,480},{86,94}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,480},{86,94}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,480},{86,94}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,480},{82,86}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{82,86}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{80,82}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{80,82}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{80,82}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{80,82}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,480},{82,86}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{82,86}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,480},{86,94}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,480},{86,94}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>bg1guang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1100},{116,126}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{116,126}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1100},{116,126}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{116,126}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1100},{116,126}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{116,126}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1100},{110,116}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{110,116}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,480},{106,110}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{106,110}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,480},{106,110}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{106,110}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1100},{110,116}}</string>
                <key>offset</key>
                <string>{25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{110,116}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1100},{116,126}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{116,126}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1100},{116,126}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{116,126}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>bg1guang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1238},{618,478}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{618,478}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{618,478}}</string>
                <key>offset</key>
                <string>{-24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{618,478}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1238},{616,478}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{616,478}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,620},{616,478}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{616,478}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,482}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{616,482}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{616,480}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{616,480}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,620},{616,480}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{616,480}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{616,480}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{616,480}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{618,476}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{618,476}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,480},{618,474}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{618,474}}</string>
                <key>sourceSize</key>
                <string>{700,560}</string>
            </dict>
            <key>bg1guang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{76,72}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,80},{72,76}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,42},{72,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,74},{72,76}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{72,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{82,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{82,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,2},{80,70}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{80,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,148},{78,66}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,49},{78,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,76},{74,70}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{74,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,216},{74,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,84},{78,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{78,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bg1guang3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,148},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,41},{76,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg1guangpls.png</string>
            <key>size</key>
            <string>{1922,1718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2431e234f23bc51351fbf7d47be51699$</string>
            <key>textureFileName</key>
            <string>bg1guangpls.png</string>
        </dict>
    </dict>
</plist>
