<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg3guang0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1286},{82,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1164},{82,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1042},{82,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,920},{82,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,814},{76,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{76,114}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,814},{76,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{76,114}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,920},{82,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1042},{82,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1164},{82,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>bg3guang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1056},{166,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,208},{166,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1210},{166,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1056},{166,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,376},{156,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{156,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,376},{156,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{156,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1056},{166,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1210},{166,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,208},{166,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{166,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg3guang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1658},{192,74}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{192,74}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,630},{182,78}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,54},{182,78}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,722},{196,72}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,42},{196,72}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1464},{192,74}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{192,74}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1852},{188,62}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,52},{188,62}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,520},{200,98}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,63},{200,98}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1360},{142,102}}</string>
                <key>offset</key>
                <string>{25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,12},{142,102}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1364},{168,96}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,66},{168,96}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{204,150}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{204,150}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1224},{162,134}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,12},{162,134}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>bg3guang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{528,310}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{528,310}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1478},{526,306}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{526,306}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,532},{522,308}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{522,308}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1484},{528,306}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{528,306}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,944},{532,306}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{532,306}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{536,304}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{536,304}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{538,306}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{538,306}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,312}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{538,312}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{536,312}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{536,312}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
            <key>bg3guang3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{534,312}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{534,312}}</string>
                <key>sourceSize</key>
                <string>{600,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg3guangpls.png</string>
            <key>size</key>
            <string>{1034,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea3344c6ea9349e109c2a00a802e5ab$</string>
            <key>textureFileName</key>
            <string>bg3guangpls.png</string>
        </dict>
    </dict>
</plist>
