<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg5guang0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{168,260}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{168,260}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,450},{162,250}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{162,250}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,760},{162,250}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{162,250}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,450},{158,244}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{158,244}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,874},{154,234}}</string>
                <key>offset</key>
                <string>{23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,30},{154,234}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,874},{154,234}}</string>
                <key>offset</key>
                <string>{23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,30},{154,234}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,450},{158,244}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{158,244}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,760},{162,250}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{162,250}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,450},{162,250}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{162,250}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>bg5guang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,226},{254,222}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{254,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{254,222}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{254,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,764},{254,222}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{254,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,764},{254,222}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{254,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,662},{242,210}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{242,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,450},{242,210}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{242,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,774},{254,222}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{254,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,774},{254,222}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{254,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,782},{254,222}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{254,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg5guang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,702},{368,338}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,41},{368,338}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,384},{370,378}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{370,378}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,388}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{368,388}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{360,388}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{360,388}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{360,378}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{360,378}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{350,378}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{350,378}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,382},{350,376}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,49},{350,376}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,392},{380,348}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{380,348}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{376,342}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,43},{376,342}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>bg5guang2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{380,344}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,45},{380,344}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg5guangpls.png</string>
            <key>size</key>
            <string>{2040,1072}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2708b580fa96c3572911704dae34b502$</string>
            <key>textureFileName</key>
            <string>bg5guangpls.png</string>
        </dict>
    </dict>
</plist>
