<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg7guang0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1296},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1296},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1296},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1090},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,910},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,730},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,910},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1090},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1296},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1296},{146,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{146,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg7guang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{578,356}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{578,356}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1450},{576,354}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{576,354}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1092},{576,356}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{576,356}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1450},{572,356}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{572,356}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1450},{574,356}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{574,356}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1452},{576,358}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{576,358}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,934},{578,360}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{578,360}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,730},{578,360}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{578,360}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{578,360}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{578,360}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{578,356}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{578,356}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>bg7guang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,202},{592,238}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,63},{592,238}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,246},{590,238}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,62},{590,238}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,442},{588,248}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,62},{588,248}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{590,248}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{590,248}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{586,244}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{586,244}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,486},{586,242}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{586,242}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,692},{582,240}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{582,240}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{624,242}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{624,242}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,73},{634,232}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
            <key>bg7guang2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{630,198}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,105},{630,198}}</string>
                <key>sourceSize</key>
                <string>{700,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg7guangpls.png</string>
            <key>size</key>
            <string>{1902,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e773f443722655b44fcc9c28ce8e4f$</string>
            <key>textureFileName</key>
            <string>bg7guangpls.png</string>
        </dict>
    </dict>
</plist>
