<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paopao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{182,426}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,107},{182,426}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,462},{190,450}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,85},{190,450}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{186,458}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{186,458}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{186,480}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{186,480}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,500}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,14},{184,500}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,752},{178,308}}</string>
                <key>offset</key>
                <string>{-9,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,223},{178,308}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,430},{146,320}}</string>
                <key>offset</key>
                <string>{-5,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,205},{146,320}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,316},{136,342}}</string>
                <key>offset</key>
                <string>{-6,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,181},{136,342}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,176},{138,364}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,157},{138,364}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
            <key>paopao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{172,396}}</string>
                <key>offset</key>
                <string>{-9,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,135},{172,396}}</string>
                <key>sourceSize</key>
                <string>{300,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paopao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:397e4daf15ce58c680e47392f6411890:1/1$</string>
            <key>textureFileName</key>
            <string>paopao.png</string>
        </dict>
    </dict>
</plist>
