<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_creat_begin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1663},{180,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,182}}</string>
                <key>sourceSize</key>
                <string>{180,182}</string>
            </dict>
            <key>btn_jiesuan_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{271,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,97}}</string>
                <key>sourceSize</key>
                <string>{271,97}</string>
            </dict>
            <key>btn_jiesuan_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{271,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,97}}</string>
                <key>sourceSize</key>
                <string>{271,97}</string>
            </dict>
            <key>btn_kdqc00.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1547},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>btn_kdqc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1503},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>btn_qwcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1200},{137,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,40}}</string>
                <key>sourceSize</key>
                <string>{137,40}</string>
            </dict>
            <key>btn_room_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{274,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,76}}</string>
                <key>sourceSize</key>
                <string>{274,76}</string>
            </dict>
            <key>btn_room_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1199},{222,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,91}}</string>
                <key>sourceSize</key>
                <string>{222,91}</string>
            </dict>
            <key>btn_room_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,824},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>buyuwordroomid.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,278},{100,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,33}}</string>
                <key>sourceSize</key>
                <string>{100,33}</string>
            </dict>
            <key>img_goin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{432,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,466}}</string>
                <key>sourceSize</key>
                <string>{432,466}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,925},{272,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,80}}</string>
                <key>sourceSize</key>
                <string>{272,80}</string>
            </dict>
            <key>pao_huanpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1120},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>pao_huanpao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{333,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,195}}</string>
                <key>sourceSize</key>
                <string>{333,195}</string>
            </dict>
            <key>pao_kongdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>pao_paobei.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1548},{92,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,54}</string>
            </dict>
            <key>pao_paojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,562},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>pao_paojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1679},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>pao_paolan.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1429},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>role_jinbilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1604},{224,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,48}}</string>
                <key>sourceSize</key>
                <string>{224,48}</string>
            </dict>
            <key>role_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1604},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>role_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1497},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>role_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1497},{180,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,118}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>side_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1242},{118,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,259}}</string>
                <key>sourceSize</key>
                <string>{118,259}</string>
            </dict>
            <key>side_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1153},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>sidebtn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1679},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sidebtn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1604},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sidebtn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1604},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sidebtn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1604},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>skill_jinenglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{225,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,46}}</string>
                <key>sourceSize</key>
                <string>{225,46}</string>
            </dict>
            <key>skill_skillcd.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1764},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>skill_suoding.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1038},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>skill_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1671},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>skill_zidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,956},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tag_dengdai00.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,380},{138,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,28}}</string>
                <key>sourceSize</key>
                <string>{138,28}</string>
            </dict>
            <key>tag_dengdai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,620},{202,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,56}}</string>
                <key>sourceSize</key>
                <string>{202,56}</string>
            </dict>
            <key>tag_tctishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,124}}</string>
                <key>sourceSize</key>
                <string>{497,124}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{416,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,140}}</string>
                <key>sourceSize</key>
                <string>{416,140}</string>
            </dict>
            <key>winBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{250,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,446}}</string>
                <key>sourceSize</key>
                <string>{250,446}</string>
            </dict>
            <key>wordjsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,128},{148,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>yindao_weizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1423},{179,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,98}}</string>
                <key>sourceSize</key>
                <string>{179,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battleroom.png</string>
            <key>size</key>
            <string>{510,1846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31fe3ca1dbd443817452295bd7b76b11$</string>
            <key>textureFileName</key>
            <string>battleroom.png</string>
        </dict>
    </dict>
</plist>
