<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun_backboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{959,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,378}}</string>
                <key>sourceSize</key>
                <string>{959,378}</string>
            </dict>
            <key>gun_board00.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,253},{194,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,237}}</string>
                <key>sourceSize</key>
                <string>{194,237}</string>
            </dict>
            <key>gun_boardclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{206,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,249}}</string>
                <key>sourceSize</key>
                <string>{206,249}</string>
            </dict>
            <key>gun_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,382},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>gun_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,382},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>gun_lockboard01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,456},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>out.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,382},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{139,82}</string>
            </dict>
            <key>tag_zzsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,382},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>zhunbeia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{106,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,127}}</string>
                <key>sourceSize</key>
                <string>{106,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changegun.png</string>
            <key>size</key>
            <string>{1171,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08adf99e9ea39d86af1cd975d3ac931a$</string>
            <key>textureFileName</key>
            <string>changegun.png</string>
        </dict>
    </dict>
</plist>
