<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,803},{98,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,51}}</string>
                <key>sourceSize</key>
                <string>{98,55}</string>
            </dict>
            <key>bt_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,856},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,55}</string>
            </dict>
            <key>bt_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1289},{80,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,41}}</string>
                <key>sourceSize</key>
                <string>{80,41}</string>
            </dict>
            <key>btn_cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1336},{83,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,40}}</string>
                <key>sourceSize</key>
                <string>{83,40}</string>
            </dict>
            <key>btn_cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,556},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>btn_close00.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1294},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_close01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,877},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>btn_confirm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,40}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>btn_confirm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,523},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>btn_copy00.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,956},{113,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,43}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>btn_copy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,917},{113,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,43}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>btn_fanhui00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1294},{86,85}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{86,85}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>btn_fanhui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,534},{86,85}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{86,85}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>btn_hqyzm00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,621},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>btn_hqyzm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,637},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>btn_jindu00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{496,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,38}}</string>
                <key>sourceSize</key>
                <string>{496,38}</string>
            </dict>
            <key>btn_jindu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{492,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{492,36}}</string>
                <key>sourceSize</key>
                <string>{496,38}</string>
            </dict>
            <key>btn_jindu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,2},{37,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,65}}</string>
                <key>sourceSize</key>
                <string>{37,65}</string>
            </dict>
            <key>btn_qhzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,749},{136,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,40}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>btn_qrbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,707},{136,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,40}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>btn_qrxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,637},{137,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,42}}</string>
                <key>sourceSize</key>
                <string>{139,42}</string>
            </dict>
            <key>btn_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1204},{83,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{85,41}</string>
            </dict>
            <key>btn_tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1294},{83,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,40}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>common_bank00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,822},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>common_board00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{702,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,421}}</string>
                <key>sourceSize</key>
                <string>{702,421}</string>
            </dict>
            <key>common_board01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,503},{740,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,437}}</string>
                <key>sourceSize</key>
                <string>{740,437}</string>
            </dict>
            <key>common_board02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{829,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{829,499}}</string>
                <key>sourceSize</key>
                <string>{829,499}</string>
            </dict>
            <key>common_board03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{917,530}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{917,530}}</string>
                <key>sourceSize</key>
                <string>{921,530}</string>
            </dict>
            <key>common_button00.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,378},{202,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{202,81}}</string>
                <key>sourceSize</key>
                <string>{206,85}</string>
            </dict>
            <key>common_button01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,295},{202,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{202,81}}</string>
                <key>sourceSize</key>
                <string>{206,85}</string>
            </dict>
            <key>common_button10.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,213},{215,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,80}}</string>
                <key>sourceSize</key>
                <string>{215,80}</string>
            </dict>
            <key>common_button11.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,131},{215,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,80}}</string>
                <key>sourceSize</key>
                <string>{215,80}</string>
            </dict>
            <key>common_button20.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,549},{186,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{186,86}}</string>
                <key>sourceSize</key>
                <string>{192,92}</string>
            </dict>
            <key>common_button21.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,461},{186,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{186,86}}</string>
                <key>sourceSize</key>
                <string>{192,92}</string>
            </dict>
            <key>common_button30.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,823},{249,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,92}}</string>
                <key>sourceSize</key>
                <string>{249,92}</string>
            </dict>
            <key>common_button31.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,729},{249,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,92}}</string>
                <key>sourceSize</key>
                <string>{249,92}</string>
            </dict>
            <key>common_choice00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>common_choice01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1657},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>common_coin00.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,956},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>common_dinglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,127}}</string>
                <key>sourceSize</key>
                <string>{1136,127}</string>
            </dict>
            <key>common_huatiao00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,707},{25,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,317}}</string>
                <key>sourceSize</key>
                <string>{27,319}</string>
            </dict>
            <key>common_huatiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,166},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,59}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>common_infobg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,212},{309,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,57}}</string>
                <key>sourceSize</key>
                <string>{309,57}</string>
            </dict>
            <key>common_infobg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,691},{325,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,36}}</string>
                <key>sourceSize</key>
                <string>{325,36}</string>
            </dict>
            <key>common_infobg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{531,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,38}}</string>
                <key>sourceSize</key>
                <string>{531,38}</string>
            </dict>
            <key>common_infobg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,917},{239,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,37}}</string>
                <key>sourceSize</key>
                <string>{239,37}</string>
            </dict>
            <key>common_vip00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_vip01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_vip02.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1384},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_vip03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,776},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{44,44}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_vip04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_vip05.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1134},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_vip06.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1086},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_vip07.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,729},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>info_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,589},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1126},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>tag_00_zfbxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,853},{134,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,29}}</string>
                <key>sourceSize</key>
                <string>{134,29}</string>
            </dict>
            <key>tag_00_zfbzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,822},{134,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,29}}</string>
                <key>sourceSize</key>
                <string>{134,29}</string>
            </dict>
            <key>tag_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,105},{63,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{63,23}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>tag_id01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,589},{41,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,23}}</string>
                <key>sourceSize</key>
                <string>{41,23}</string>
            </dict>
            <key>tag_jmima.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1086},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>tag_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,663},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>tag_qrmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,691},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>tag_sjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,789},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,28}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>tag_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,130},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>tag_xmima.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1258},{85,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,27}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>tag_yhjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,647},{140,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,29}}</string>
                <key>sourceSize</key>
                <string>{140,29}</string>
            </dict>
            <key>tag_yingxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,73},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>tag_yingyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,41},{64,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>tag_yzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1170},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>tag_zfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,503},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>tag_zfbqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,675},{138,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{138,30}}</string>
                <key>sourceSize</key>
                <string>{142,34}</string>
            </dict>
            <key>tag_zfbxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,791},{134,29}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{134,29}}</string>
                <key>sourceSize</key>
                <string>{184,29}</string>
            </dict>
            <key>tag_zfbzhqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,461},{184,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,29}}</string>
                <key>sourceSize</key>
                <string>{184,29}</string>
            </dict>
            <key>tag_zhjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,884},{115,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,31}}</string>
                <key>sourceSize</key>
                <string>{115,31}</string>
            </dict>
            <key>touxiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1294},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1204},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1204},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1204},{88,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1204},{88,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{88,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1176},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1086},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1001},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,956},{88,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>touxiang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,909},{88,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de9f283b5234bd0cb41cf71ee32f895$</string>
            <key>textureFileName</key>
            <string>common01.png</string>
        </dict>
    </dict>
</plist>
