<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish52_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{288,262}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{288,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{274,270}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{274,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{266,260}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{266,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,792},{260,264}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{260,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{260,280}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{260,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,272}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{290,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,264},{278,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{278,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,542},{272,264}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{272,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,530},{260,274}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{260,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fish52_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,266},{274,274}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{274,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish52.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:184c05800a8dd953dc82df5a8fdfc63f:1/1$</string>
            <key>textureFileName</key>
            <string>fish52.png</string>
        </dict>
    </dict>
</plist>
