<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish72_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,495},{283,163}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{283,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{297,163}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,37},{297,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{291,161}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,33},{291,161}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,330},{287,163}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{287,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,621},{287,163}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{287,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{291,163}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{291,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,780},{281,163}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{281,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,332},{287,163}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{287,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,330},{285,163}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{285,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{291,161}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{291,161}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,163}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{297,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,167},{291,161}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{291,161}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{293,161}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,45},{293,161}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,495},{283,161}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,45},{283,161}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
            <key>fish72_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,165},{291,163}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{291,163}}</string>
                <key>sourceSize</key>
                <string>{303,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish72.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d008f08b796408e7b835d0479552c54:1/1$</string>
            <key>textureFileName</key>
            <string>fish72.png</string>
        </dict>
    </dict>
</plist>
