<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish64_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{521,452}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,50},{521,452}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{527,488}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{527,488}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{525,474}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{525,474}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,529},{521,474}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{521,474}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{529,458}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{529,458}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2485,519},{503,404}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{503,404}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2891,513},{505,432}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{505,432}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2314,2},{515,454}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,42},{515,454}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2035,525},{497,448}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,49},{497,448}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3325,501},{497,446}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,55},{497,446}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3598,2},{497,412}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,56},{497,412}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3150,2},{497,446}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,51},{497,446}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,525},{497,452}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,47},{497,452}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2770,2},{509,378}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{509,378}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{521,426}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{521,426}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,533},{525,484}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{525,484}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
            <key>fish64_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{529,492}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{529,492}}</string>
                <key>sourceSize</key>
                <string>{559,514}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish64.png</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b1e8509379cb01945b282924ace8581:1/1$</string>
            <key>textureFileName</key>
            <string>fish64.png</string>
        </dict>
    </dict>
</plist>
