<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{287,301}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{287,301}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,291},{287,301}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{287,301}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{287,301}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{287,301}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,301}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{287,301}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{287,301}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,580},{287,299}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{287,299}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,291},{287,299}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{287,299}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,580},{287,293}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{287,293}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,871},{287,279}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{287,279}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{287,271}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{287,271}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,869},{287,289}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{287,289}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
            <key>fish28_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{287,297}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{287,297}}</string>
                <key>sourceSize</key>
                <string>{289,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish28.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:137eaf03f4fec0b6ce7f2f341734a3e6:1/1$</string>
            <key>textureFileName</key>
            <string>fish28.png</string>
        </dict>
    </dict>
</plist>
